.letter {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  color: white;
  display: flex;
  align-items: center;
  font-family: inter;
}

.letter p {
  font-weight: bold;
  width: 100%;
  font-size: 48pt;
  text-align: center;
}
