@media (min-width: 600) {
  .user-info-form {
    width: 600px;
  }
}

@media (max-width: 600) {
  .user-info-form {
    width: 90vw;
  }
}

.name-input {
  aspect-ratio: 5 / 1;
  width: 73%;
  height: auto;
  display: block;
  border-radius: 16px;
}

.code-input {
  width: 68%;
  height: 100%;
  border-radius: 16px 0 0 16px;
  display: inline-block;
}

.code-submit {
  width: 32%;
  height: 100%;
  border-radius: 0 16px 16px 0;
  display: inline-block;
  background-color: #38394b;
  color: white;
  margin: auto;
  font-size: 32px;
  text-align: center;
  border-color: transparent;
  padding: 0;
  border-width: 0;
  font-weight: 600;
  font-family: inter;
}

.uif-text-input {
  margin: auto;
  background-color: white;
  font-size: 32px;
  text-align: center;
  border-color: transparent;
  padding: 0;
  border-width: 0;
  font-family: inter;
  font-weight: 300;
}

.uif-code-input {
  margin: auto;
  width: 73%;
  aspect-ratio: 5 / 1;
  height: auto;
}

.uif-text-input::placeholder {
  color: #d3d3d3;
}

.or-text {
  font-size: 24pt;
  color: white;
  margin: auto;
  font-family: sans-serif;
  width: fit-content;
  margin: 0.5em auto;
}

.host-submit {
  width: 185px;
  height: 60px;
  border-radius: 16px;
  display: block;
  background-color: #38394b;
  color: white;
  margin: auto;
  font-size: 32px;
  font-family: inter;
  text-align: center;
  border-color: transparent;
  padding: 0;
  border-width: 0;
  font-weight: 600;
}
